<h1>You are yet to pay the rent for the room <%= @room.room_name %> for the period <%=	 @room.pay_period_start %>.</h1>

<% if @days == -1 %>
    <p>Please pay the rent as soon as possible.</p>
<% else %>
    <p><%= @days %> more days remaining before the end of the pay period.</p>
    <p>Please pay the rent as soon as possible.</p>
<% end %>
<p><!-- Link to the site --></p>